<h4>Authors</h4>

<ul>
  {{#each model.authors as |author|}}
    <li>{{author.firstName}}</li>
    {{#if author.post}}
      <ul>
        <li>{{author.post.title}}</li>
      </ul>
    {{/if}}
  {{/each}}
</ul>

<h4>Posts</h4>

<ul>
  {{#each model.posts as |post|}}
    <li>{{post.title}}</li>
    {{#if post.author}}
      <ul>
        <li>{{post.author.firstName}}</li>
      </ul>
    {{/if}}
  {{/each}}
</ul>
